body, html {
    padding: 0;
    margin: 0;
    background-color: #f5f5f5;
    color: #333;

    text-align: center;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 1.125rem;
}

h1 {
    font-size: 8rem;
    color: #333;

    -webkit-animation: blink 1s ease-out 0s infinite alternate;
    animation: blink 1s;
}

a {
    color: #0070bb;
    text-decoration: none;
}

a:hover {
    color: #035;
}

small {
    color: #555;
}

@-webkit-keyframes blink {
    from {
        text-shadow: none;
        color: #FFF;
    }
    to {
        text-shadow: 0px 0px 50px #D00;
        color: #FFF;
    }
}
